:root {
    --cor-principal: #7e5a3a;
}

body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 62.5%;
    color: var(--cor-principal);
}

header {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    margin: 0;
    color: var(--cor-principal);
    font-weight: bold;
    font-size: 5rem;
}

p {
    font-size: 2rem;
    margin: 0;
    margin-top: 6px;
}

a {
    font-size: 1.8rem;
    text-decoration: none;
    color: var(--cor-principal);
    border: var(--cor-principal) 1px solid;
    padding: 14px 30px;
    border-radius: 10px;
    margin-top: 24px;
    background-color: transparent;
}

.section {
    text-align: center;
    padding: 19px;
}

.section p {
    font-size: 1.7rem;
    line-height: 27px;
}

.section-a {
    background-color: var(--cor-principal);
    color: white;
}

.section-b {
    background-color: rgb(245, 244, 244);
}

.section-c {
    line-height: 27px;
    text-align: justify;
    display: flex;
    flex: 3;
    font-size: 1.6rem;
}

.section-c aside {
    padding: 20px;
}

.section-c .box-1, .section-c .box-3 {
    background-color: #926239;
    color: #fff;
}

a {
    transition: all 0.7s;
}

a:hover {
    cursor: pointer;
    background-color: var(--cor-principal);
    color: white;
    transform: scale(1.12);
}